body{
    background: url(./Multimedia/establo-fondo3.jpg) no-repeat center center fixed;
    background-size: cover;
}


.home-header{
    display: grid;
        grid-template-areas: "header nav";
        color: #C24E00;

}



.titulo{
    grid-area: "header";
    text-align: end;
    color: #C24E00;
}

.titulo-2{

        text-align: center;
        color: #C24E00;

}

.navegacion{
    grid-area: "nav";
    
}

.navegacion ul{
    display: flex;
    justify-content:end;
    
    
}


.navegacion ul li{

        list-style-type: none;
        text-decoration: none;
        padding: 10px;
        border: #C24E00 2px solid;
        background-color: #C24E00;
        height: 15px;
        transition: .3s;
        

}
.navegacion ul li a{
    color: #000000;
    text-decoration: none;
}

.navegacion li:hover {

        height: 20px;
        background-color: #efefef;
        
}



.main{
    display: flex;
    justify-content: space-between;
    
}

.main div h3{
        text-align: center;
        border: 2px solid #C24E00;
        margin: 5px;
        color: #C24E00;
}

.main div{
        
        padding: 10px;

}

.title{
    text-align: center;
    border: 2px solid #C24E00;
    margin: 10px 20px 10px 20px;
    color: #C24E00;
}

.parrafo{
        text-align: center;
        border: 2px  #C24E00;
        margin: 30px 50px 30px 50px;
        color: #C24E00;
}


.ropa img{
    height: 350px;
    transition: .3s;
}

.ropa img:hover{
        height: 400px;
}


.footer{
    display: flex;
    justify-content: space-between;
    color: #C24E00;
}


.redes ul{
    display: flex;
    justify-content: space-between;

}

.redes ul li{

    list-style-type: none;
    justify-content: space-between;
}


.Imagen-footer{
    display: flex;
        justify-content: center;
}

.Imagen-footer img{
        height: 400px;
        width: 400px;
}

